<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundamentos VUE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container pt-4">
        <div class="row pb-5">
            <h1 class="text-center text-uppercase">Aprendiendo inglés</h1>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-2">
                <!-- Button modal alphabet -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalOne">
                    Alphabet
                </button>
            </div>
            <div class="col-md-3 col-lg-2">
                <!-- Button modal  -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModelTwo">
                    A and AN
                </button>
            </div>
            <div class="col-md-3 col-lg-2">
                <!-- Button modal  -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    IT'S sentences
                </button>
            </div>
            <div class="col-md-3 col-lg-2">
                <!-- Button modal  -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Plural forms
                </button>
            </div>
        </div>
    </div>

    <div id="app">
        
    </div>

    <!-- BEGIN Modal alphabet-->
    <div class="modal fade" id="ModalOne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" id="app-alphabet">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alphabet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <h6 class="card-subtitle mb-2 text-muted"> [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z] </h6> -->
                    <div class="row pt-3 ">
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="inputPassword2" placeholder="Escribir palabra" v-model="work">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary mb-3" @click="convert">Go</button>
                        </div>
                    </div>

                    <div class="card mt-3" >
                        <div class="card-body">
                        <h5 class="card-title text-center">Resultado</h5>
                        
                        <button type="button" class="btn btn-primary position-relative me-3 mb-3" v-for="(iten, index) in lyrics">
                                {{ iten[1] }} 
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ iten[0] }} 
                            </span>
                        </button>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal alphabet-->

    <!-- BEGIN Modal alphabet-->
    <div class="modal fade" id="ModelTwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" id="app-an-a">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">A and AN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row pt-3 ">
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="inputPassword2" placeholder="Escribir palabra" v-model="work">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary mb-3" @click="convertWork">Go</button>
                        </div>
                    </div>

                    <div class="card mt-3" >
                        <div class="card-body">
                        <h5 class="card-title text-center">Resultado</h5>
                        
                        <div class="alert alert-success" role="alert" v-show="showResult">
                            {{ result }}
                        </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal alphabet-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>

    <script>
        const mountedAppOne = appAlphabet.mount('#app-alphabet');
        const mountedAppTwo = appAnA.mount('#app-an-a');
    </script>
</body>
</html>